*{
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
}

body{
  background-image: url('../public/background.png');
}

.tabuleiro{
  width: 70%; 
/*   border: 2px solid #FADA7A; */
}

.messageBoard{
  border: 2px solid #FADA7A;
  width: 95%;
}

.popUpBackground{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width:769px) {
  .messageBoard{
    width: 75%;
  }

  .tabuleiro{
    width: 40%;  
  }
}