*{
  max-height: 100vh;
  max-width: 100vw;
}

body{
  background-image: url('../public/background.png');
}

.messageBoard{
  border: 2px solid #FADA7A;
}

.popUpBackground{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}